.data_delete{
	text-align: center;
}
.data_delete h2{
	font-size: 16px;
	padding: 10px;
}
.data_delete span{
	font-weight: bold;
	color: #06095F;
	font-size: 16px;
}
.btn_cancel, .btn_accept{
	width: 124px;
	background: #478ba2;
	color: #FFF;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
	margin: 15px;
}
.btn_cancel{
	background: #42b343;
}