							/* DISEÑO LISTADO USUARIO*/

/*Modificacion Titulo */
#container h1{
	font-size: 35px;
	margin: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 10px;
	color: #06095F;
}
/*Modificacion boton crear usuarios*/
.btn_new{
	background: #C52603;
	color: #FFF;
	padding: 5px 25px;
	border-radius: 4px;
	align-items: right;
}
/*Modificacion datos tabla*/
table{
	border-collapse: collapse;
	font-size: 18px;
	font-family: sans-serif;
	text-align: center;
	width: 100%;
	width: 1000px;
	margin: auto;
	justify-content: center;
	align-items: center;
}
/*Modificacion menu tabla*/
table th{
	text-align: center;
	padding: 0;
	background: #06095F;
	color: #FFF;
}
table tr:nth-child(odd){
	background: #FFF;
}
table td{
	padding: 10px;
}
.link_edit{
	color: #1700FE;
}
.link_delete{
	color: #FE0000;
}
/* Paginador */
.paginador ul{
	padding: 15px;
	list-style: none;
	background: #FFF;
	margin-top: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex-end;
}
.paginador a, .pageSelected{
	color: #6972F9;
	border: 1px solid #ddd;
	padding: 5px;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	width: 35px;
}
.paginador a:hover{
	background: #ddd;
}
.pageSelected{
	color: #FFF;
	background: #06095F;
	border: 1px solid #06095F;
}

